html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	
}

body{
  background-image:url("image/background.jpg");
  background-repeat: no-repeat;
  width:100vw;
  height: 100vh;
  position: relative;
  background-attachment:fixed;
  background-size: cover;
}
nav ul {
  font-family: 'Dancing Script', cursive;
  font-size: larger;
  display: flex;
  list-style: none;
  gap: 150px;
  margin-left: 420px;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: black;
  font-size: larger;
  font-weight: bold;
}

ul li a:hover {
  font-weight: bold;
  color: brown;
}

#home, h1, p{
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  text-align: center;
  margin: 100px;
}

p{
  font-size: larger;
}

#boloDeBanana {
  text-align: center;
}

legend{
  font-size: small;
}

h2, img, ul, ol {
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  margin: 30px; 
}

ol{
  margin-bottom: 50px;
}

img {
  margin-bottom: 0;
  border-radius: 4px;
}

h4{
  font-family: 'Dancing Script', cursive;
  margin-top: 40px;
}

.lista {
  display: flex;
  font-family: 'Dancing Script', cursive;
  flex-direction: column;
  align-items: center;
}

#daneteCaseiro{
  text-align: center;
}

#footer, h3{
  font-family: 'Dancing Script', cursive;
  font-size: x-large;
  font-weight: 700;
  text-align: center;
  padding: 100px;
}